 .discover-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    align-items: start;
    gap: 20px;
    grid-template-areas: 
        "area1 area1 area2"
        "area3 area4 area2"
        "area5 area6 area7"
        "area8 area8 area7";
}
  
.discover-grid img {
    transition: transform 0.4s ease, filter 0.4s ease;
}

.discover-card img:hover {
    transform: scale(1.04);
    filter: saturate(130%) contrast(105%);
}

.discover-card {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
}

.discover-card h2 {
    width: 100%;
    text-align: center !important;
    margin: 0 0 15px 0 !important;
}

.discover-card figure {
    width: 100%;
    margin: 0 0 15px 0 !important;
    display: flex !important;
    justify-content: center !important;
}

.discover-card address,
.discover-card p {
    text-align: center !important;
    width: 100%;
}

.discover-card button {
    display: inline-block !important;
    width: max-content !important;
    margin: auto auto 0 auto !important;
    /* Forces button to the bottom center */
    padding: 10px 25px !important;
}